<html>
  <head>
    <title>SONiC!!</title>
    <link rel="stylesheet" href="/static/manual.css" media="screen" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header class="u-clearfix u-header u-header" id="sec-5942">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <h1 class="u-custom-font u-text u-text-1">
          <a style="text-decoration: none !important" href="/">Gallatin </a>
        </h1>
      </div>
    </header>

    <section
      class="u-clearfix u-image u-valign-middle-lg u-valign-middle-md u-valign-middle-xl u-section-1"
      id="sec-fc04"
    >
      <div
        class="u-clearfix u-expanded-width-sm u-expanded-width-xs u-layout-wrap u-layout-wrap-1"
      >
        <div class="u-layout">
          <div class="u-layout-row">
            <div
              class="u-container-layout u-valign-bottom u-container-layout-1"
            ></div>
          </div>
          <div
            class="u-align-left u-container-style u-layout-cell u-right-cell u-size-25 u-layout-cell-2"
          >
            <div class="form-container">
              <h1 class="font-montserrat">
                Yay! playlist generated successfully!
              </h1>
              <br />
              <label class="font-montserrat"
                >Check out the playlist we made for you in spotify web</label
              >
              <br />
              <h1 class="go-spotify">
                <a
                  style="text-decoration: none !important"
                  href="https://open.spotify.com/"
                  target="_blank"
                  >Check out Spotify</a
                >
              </h1>
            </div>
          </div>
        </div>
      </div>
    </section>

    <footer class="page-footer"></footer>
    <!-- JavaScript Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
      crossorigin="anonymous"
    ></script>
    <!-- Jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  </body>
</html>
